
.container{
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0;
}

.toolbar{
    background-color: black;
    color: white;
    padding: 5px 10px;
    padding-right: 30px;
}

.space{
    flex: 1 1 auto;
    margin-left: 10%;
}

.icon{
    width: 35px;
    height: 35px;
    font-size: 26px;
}

.mat-icon-button i, .mat-icon-button .mat-icon{
    line-height: 35px;
}

.qnty{
    background-color: white;
    border-radius: 100%;
    color: black;
    position: absolute;
    top: 0;
    right: -15px;
    width: 20px;
    height: 20px;
    line-height: 20px;
}