<div class="total">
    <mat-card class="container">
        <div fxFlex="33" style="height: 100%">                       
            <button mat-button (click)="onBack()">
                <mat-icon style="transform: rotate(180deg)">keyboard_arrow_right</mat-icon>
                Back
            </button>
        </div>
        <div fxFlex="33" style="font-size: 25px; font-weight: bolder;"></div>
        <div fxFlex="33" style="height: 100%">            
            <button mat-button (click)="onNext()" [disabled]="total == 0">
                Next
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>

        </div>

    </mat-card>
</div>