<div class="container">


    <h1>Customer Info</h1>

    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">

        <!-- Name -->
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="customer.name" name="name" #name="ngModel">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                Name is required
            </div>
        </div>

         <!-- Lastname -->
        <div class="form-group">
            <label for="lastname">Lastname</label>
            <input type="text" class="form-control" id="lastname" required [(ngModel)]="customer.lastname" name="lastname" #lastname="ngModel">
            <div [hidden]="lastname.valid || lastname.pristine" class="alert alert-danger">
                Lastname is required
            </div>
        </div>

        <!-- Address -->
        <div class="form-group">
            <label for="lastname">Address</label>
            <input type="text" class="form-control" id="address" required [(ngModel)]="customer.address" name="address" #address="ngModel">
            <div [hidden]="address.valid || address.pristine" class="alert alert-danger">
                Address is required
            </div>
        </div>

        <!-- Date -->
        <div class="form-group">
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
        </div>

    </form>

</div>